
<style>
    .codec-example {
        padding-bottom: 1em;
    }

</style>

<div>

    <div class="row codec-example">
        <div class="col-md-6">
            <strong>Input:</strong>&nbsp;&nbsp;&nbsp;<textarea class="form-control" ng-model="input" type="text" />
        </div>


    </div>

    <div class="row codec-example">

        <div class="col-md-6">
            <a ng-click="encode(input)" class="btn btn-primary">Base64 Encode</a>
                                                &nbsp;

            <a ng-click="decode(input)" class="btn btn-primary">Base64 Decode</a>
        </div>
    </div>

    <div class="row codec-example">
        <div class="col-md-6">
            <strong>Output:</strong>&nbsp;&nbsp;&nbsp;<div ng-class="{'text-error': codecError}">{{codecOutput}}</div>
        </div>
    </div>


</div>