<h4>Upload file to FS2 via form (multipart)</h4>

<form action="rest/v1/fs2/" method="post" enctype="multipart/form-data">

    <p>
        Select a file : <input type="file" name="file" size="45"/>
    </p>

    <input type="submit" value="Upload It"/>

</form>


<hr>


<h4>List files in FS2  <a ng-click="fs2List()" class="btn btn-primary">List objects in FS2</a>
</h4>


<div>

    <div class="row">
        <div class="span11">
            <div ng-repeat="(i, uri) in fs2Objects">
                {{uri}}<br>
            </div>
        </div>
    </div>


</div>


