<style>
    .form-row {
        padding-bottom: .5em;
    }

    .css-form input.ng-invalid.ng-dirty {
        background-color: #FA787E;
    }

    .css-form input.ng-valid.ng-dirty {
        background-color: #78FA89;
    }
</style>


<div class="row">


    <div class="span6">

        <h3>Create new FS2 Object</h3>
        <form name="fs2UploadForm" method="post" novalidate class="container css-form" enctype="multipart/form-data">

            <div>
                <div class="container form-row">
                    <div>URI</div>
                    <div>
                        <input type="text" ng-model="fs2ObjectURI" required />
                    </div>
                </div>

                <div class="container form-row">
                    <div>Upload</div>
                    <div class="input-append">
                        <input type="file" name="fs2ObjectFile" size="30" file-upload required/>
                    </div>
                </div>

            </div>
        </form>

        <pre>uri = {{fs2ObjectURI}}</pre>
        <pre>file = {{fs2ObjectFile | json}}</pre>

        <div ng-show="response != null">
            <pre>{{response | json}}</pre>
        </div>

        <div class="pad-bottom">
            <a class="btn btn-primary" ng-click="upload(fs2ObjectFile)" ng-disabled="fs2UploadForm.$invalid">Upload</a>
        </div>
    </div>


    <div class="span6">
        <h3>FS2 Repository Objects</h3>

        <div ng-repeat="f in fs2ObjectList.response">
            {{f}}&nbsp;<a>download</a>&nbsp;|&nbsp;<a>meta</a>&nbsp;|&nbsp;<a>delete</a>
        </div>

    </div>

</div>