<div class="container" fade-in>


    <div style="padding-top: 2em;">

        <div class="jumbotron">

            <div style="padding-bottom: 1em;" class="pull-right">
                <a href="https://github.com/robertjchristian/service-nucleus" class="alert alert-info"><span><img
                        ng-src="http://robertjchristian.github.com/fs2/images/octocat-icon.png">View on GitHub</span></a>
            </div>

            <div class="page-header"><h1>Service Nucleus</h1>

                <p>Service Nucleus is a starter project with a complete tech stack made for serious web apps, made from
                    best-of-breed tech like <a
                            href="https://github.com/Netflix/karyon">Netflix's OSS Karyon</a>, hardened to the tune of
                    billions
                    of daily requests, and <a href="http://angularjs.org/">AngularJS</a>, a client MVC framework worthy
                    of
                    an Academy Award.</p>

            </div>


            <a class="btn btn-large btn-primary" href="#/about">Learn more</a>

        </div>

    </div>

</div>

<!-- Notifications -->
<div noty ng-repeat="n in notifications"/>