<div class="container" fade-in>

    <div style="text-align: center; padding-bottom: 2em;">
        <h1>This page is under construction</h1>
    </div>

    <div class="row" style="text-align: center;">

        <div class="col-sm-6 col-md-6 col-lg-6" style="padding-bottom:.5em;">
            <div class="thumbnail">
                <img style="width: 70%" src="http://art.ngfiles.com/images/52/stickfigureman_animated-gif-5.gif" alt="Under Construction">
            </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-6">

            <h2>Tämä sivu on rakenteilla</h2>

            <h2>Trang này đang được xây dựng</h2>

            <h2>Esta página está en construcción</h2>

            <h2>Această pagină este în construcție</h2>

            <h2>Diese Seite befindet sich im Aufbau</h2>

        </div>
    </div>

</div>