<style>
    .form-row {
        padding-bottom: .5em;
    }

    .css-form input.ng-invalid.ng-dirty {
        background-color: #FA787E;
    }

    .css-form input.ng-valid.ng-dirty {
        background-color: #78FA89;
    }
</style>

<div class="container" fade-in>


    <div class="page-header">
        <h1>Flexible Storage System (FS2)</h1><h4>Store your data anywhere, and move it at any time, with no client code impact.</h4><p style="padding-top: 1em;">FS2 allows you to manage arbitrary data objects using familiar operations like create, read, update, and delete. Using a simple interface that abstracts the underlying persistence details, applications can interact with their data in a way similar to using a terminal to interact with a local filesystem. Behind the curtains, a storage provider does the heavy lifting, be it integrating with a cloud storage provider like Google Cloud Storage or Amazon S3, a Mongo NoSQL database, a fileshare, or even MemCache... <a href="http://robertjchristian.github.io/fs2/">more.</a></p>
    </div>

    <div class="alert alert-info">
        Example usage of the FS2 API can be found within the Service Nucleus, in the Jersey-based "FS2Resource" class.  FS2Resource instantiates a File-based FS2 instance and exposes CRUD functionality via REST.  This UI simply exercises that REST interface.
    </div>

    <div class="row">

        <div class="col-md-5">

            <h3>Create new FS2 Object</h3>

            <form name="fs2UploadForm" method="post" novalidate
                  enctype="multipart/form-data" class="form-group">


                <div class="form-row">
                    <div>Relative FS2 URI</div>
                    <div>
                        <input class="form-control" type="text" ng-model="fs2ObjectURI" required/>
                    </div>
                </div>

                <div class="form-row">
                    <div>Upload</div>
                    <div class="input-append">
                        <input type="file" name="fs2ObjectFile" size="30" file-upload required/>
                    </div>
                </div>


            </form>

            <div class="pad-bottom">
                <a class="btn btn-primary" ng-click="upload(fs2ObjectFile, fs2ObjectURI);"
                   ng-disabled="fs2UploadForm.$invalid">Upload</a>
            </div>
        </div>

        <!-- Notifications -->
        <div noty ng-repeat="n in notifications"/>


        <div class="col-md-1">

        </div>

        <div class="col-md-5">
            <h3>FS2 Repository Objects</h3>

            <div ng-show="fs2RepoIsEmpty()">
                No objects in the repository.
            </div>

            <div ng-repeat="f in fs2Objects">

                <a href="#metaModal" data-toggle="modal"><i tooltip="Meta" class="glyphicon glyphicon-tags"></i></span>
                </a>
                &nbsp;|&nbsp
                <a ng-click="deleteFS2Object(f['fs2-uri'])"><i tooltip="Trash"
                                                               class="glyphicon glyphicon-trash"></i></a>
                &nbsp;|&nbsp
                <a href="rest/v1/fs2/download?uri={{f['fs2-uri']}}"><span
                        tooltip="Download {{f['fs2-original-filename']}}">{{f["fs2-uri"]}}</span></a>

                <div class="modal" id="metaModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h3 id="myModalLabel">Meta</h3>
                            </div>
                            <div class="modal-body">
                                <pre>{{f | json}}</pre>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-primary" data-dismiss="modal">Okay</a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>

    </div>

</div>