<style>
    .form-row {
        padding-bottom: .5em;
    }

    .css-form input.ng-invalid.ng-dirty {
        background-color: #FA787E;
    }

    .css-form input.ng-valid.ng-dirty {
        background-color: #78FA89;
    }
</style>

<div class="container">
    <div class="row">


        <div class="span6">

            <h3>Create new FS2 Object</h3>

            <form name="fs2UploadForm" method="post" novalidate class="container css-form"
                  enctype="multipart/form-data">

                <div>
                    <div class="container form-row">
                        <div>Relative FS2 URI</div>
                        <div>
                            <input type="text" ng-model="fs2ObjectURI" required/>
                        </div>
                    </div>

                    <div class="container form-row">
                        <div>Upload</div>
                        <div class="input-append">
                            <input type="file" name="fs2ObjectFile" size="30" file-upload required/>
                        </div>
                    </div>

                </div>
            </form>

            <!--
            <pre>uri = {{fs2ObjectURI}}</pre>
            <pre>file = {{fs2ObjectFile | json}}</pre>


            <div ng-show="response != null">
                <pre>{{response | json}}</pre>
            </div>
            -->

            <div class="pad-bottom">
                <a class="btn btn-primary" ng-click="upload(fs2ObjectFile, fs2ObjectURI)"
                   ng-disabled="fs2UploadForm.$invalid">Upload</a>
            </div>
        </div>


        <div class="span6">
            <h3>FS2 Repository Objects</h3>

            <div ng-show="fs2RepoIsEmpty()">
              No objects in the repository.
            </div>

            <div ng-repeat="f in fs2Objects">

                <a href="rest/v1/fs2/download?uri={{f['fs2-uri']}}">{{f["fs2-original-filename"]}}</a>
                &nbsp;|&nbsp
                <a href="#metaModal" data-toggle="modal">meta</a>
                &nbsp;|&nbsp
                <a ng-click="deleteFS2Object(f['fs2-uri'])">delete</a>
                &nbsp;|&nbsp
                <a ng-click="fetchFS2Object(f['fs2-uri'])">console</a>
                &nbsp;|&nbsp
                URI: {{f["fs2-uri"]}}

                <div id="metaModal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="myModalLabel">Meta</h3>
                    </div>
                    <div class="modal-body">
                        <pre>{{f | json}}</pre>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-primary" data-dismiss="modal">Okay</a>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>