
<!-- exemplifies inclusion of html snippets from within other partials -->
<p class="alert alert-error"><span class="label label-important">Alert!</span><br>{{constants.lorem_ipsum_short}}</p>
<p class="alert alert-warning"><span class="label label-warning">Warning!</span><br>{{constants.lorem_ipsum_short}}</p>
<p class="alert alert-info"><span class="label label-info">Heads up!</span><br>{{constants.lorem_ipsum_short}}</p>
<p class="alert alert-success"><span class="label label-success">Success!</span><br>{{constants.lorem_ipsum_short}}</p>