<div class="container" fade-in>

    <h3>Contact Us</h3>
    <hr style="margin-bottom: 1em;">


    <div class="row">

        <div class="span6">

            <div style="text-align: center;">
                <h3>Sales</h3>
                <a href="http://liaison.com/contact">
                    <img src="http://octodex.github.com/images/visionary.jpg" width="300px" height="300px">
                </a>
            </div>

            <div class="well">
                <blockquote>"We are committed to adapting and evolving with our customers' changing business needs - and
                    our people,
                    processes, and technology support this goal. Our company is built on a stable foundation - from our
                    best-of-breed technology solutions and experienced employees, to our best-in-class 'practitioner's
                    approach' methodologies. This combination of proven best practice, focus and flexibility make us
                    uniquely qualified to help our customers reach their mission-critical B2B and A2A integration and
                    data
                    management goals."
                </blockquote>
                <small>Bob Renner, CEO, Liaison Technologies</small>
            </div>
        </div>


        <div class="span6">

            <div style="text-align: center;">
                <h3>Support</h3>
                <a href="https://liaison.com/product-information/client-information/client-login-support">
                    <img src="http://octodex.github.com/images/supportcat.jpg" width="300px" height="300px">
                </a>
            </div>
            <div class="well">
                At Liaison, we pride ourselves on rapidly responding to your growing business demands. You put your
                trust and investments into our products and services, so we need to provide 100% satisfaction. When you
                contact the Liaison Support Center, we promise you prompt, accurate and courteous service—unparalleled
                in the industry—regardless of your company size, location or investment level. Our support specialists
                offer you a breadth of technical expertise, advanced support technologies and the confidence to know we
                will rectify the situation to protect the success of your business and your investments.
            </div>
        </div>

    </div>


</div>