<div fade-in>
    <div class="container">

        <div style="text-align: center; padding-bottom: 3em;">
            <h1>SOA Dashboard</h1>
            <h4>Manage services</h4>
        </div>

        <div class="row">


            <div class="span9" style="text-align: center;">


                <div class="row" style="padding: 1em;">
                    <div class="span2"><img ng-src="img/services/as2.png"></div>
                    <div class="span2"><img ng-src="img/services/cache.png"></div>
                    <div class="span2"><img ng-src="img/services/contivo.png"></div>
                    <div class="span2"><img ng-src="img/services/rosetta-net.png"></div>

                </div>


                <div class="row" style="padding: 1em;">
                    <div class="span2"><img ng-src="img/services/edm.png"></div>
                    <div class="span2"><img ng-src="img/services/fs2.png"></div>
                    <div class="span2"><img ng-src="img/services/ftp.png"></div>
                    <div class="span2"><img ng-src="img/services/smtp.png"></div>

                </div>

                <div class="row" style="padding: 1em;">
                    <div class="span2"><img ng-src="img/services/kms.png"></div>
                    <div class="span2"><img ng-src="img/services/mdm.png"></div>
                    <div class="span2"><img ng-src="img/services/mllp.png"></div>

                </div>

            </div>


            <div class="span3">

                <!-- <linechart style="line-height: 250px" data='d1' options='o1'></linechart>
                 <linechart style="line-height: 250px" data='d1' options='o2'></linechart>
                    -->

                <div class="alerts">
                    <div class="alert fade" bs-alert="alert1"></div>
                    <div class="alert fade" bs-alert="alert2"></div>
                    <div class="alert fade" bs-alert="alert3"></div>
                    <div class="alert fade" bs-alert="alert4"></div>
                    <div class="alert fade" bs-alert="alert5"></div>
                    <div class="alert fade" bs-alert="alert6"></div>
                    <div class="alert fade" bs-alert="alert7"></div>
                </div>


            </div>

        </div>

    </div>

</div>