<div class="container" fade-in>

    <div id="hero-container" class="container">

        <div class="hero-unit">

            <div class="pull-right">
                <section class="clearfix">
                    <a href="https://github.com/robertjchristian/service-nucleus" class="alert alert-success"><span><img ng-src="http://robertjchristian.github.com/fs2/images/octocat-icon.png">View on GitHub</span></a>
                </section>
            </div>

            <h1>Service Nucleus</h1>
            <p>A best of breed <a href="https://github.com/Netflix/karyon">Karyon</a> and <a href="http://angularjs.org/">AngularJS-based</a> seed for serious web apps.</p>

            <br>
            <p>
                <small>This project is meant to serve as a substantial starting point for enterprise and commercial web applications.  It integrates Karyon and AngularJS with projects like Angular-UI, Angular-Strap, Bootstrap, and jQuery, along with examples of angular services, directives, controllers, and filters.  Log in above to see additional features, or browse the playground...</small>
            </p>

            <br>
            <div class="pull-left">
                <section class="clearfix">
                    <a class="btn btn-large btn-primary" href="#/about">Learn more</a>
                </section>
            </div>

        </div>

    </div>

</div>