<div class="container" fade-in>

    <div id="hero-container" class="container">

        <div class="jumbotron">

            <div class="pull-right">
                <a href="https://github.com/robertjchristian/service-nucleus" class="alert alert-info"><span><img
                        ng-src="http://robertjchristian.github.com/fs2/images/octocat-icon.png">View on GitHub</span></a>
            </div>

            <h2>Service Nucleus</h2>

            <p>A seed project for serious web apps, made from best-of-breed tech like <a
                    href="https://github.com/Netflix/karyon">Netflix's OSS Karyon</a>, hardened to the tune of billions
                of daily requests, and <a href="http://angularjs.org/">AngularJS</a>, a client MVC framework worthy of
                an Academy Award.</p>

            <p>
                This project is meant to serve as a substantial starting point for enterprise and commercial web
                applications. It integrates Karyon and AngularJS with projects like Angular-UI, Angular-Strap,
                Bootstrap, and jQuery, along with examples of angular services, directives, controllers, and
                filters. Check out the out of the box components in the top navbar, browse example REST services, or
                perform a pseudo login for additional features...

            </p>

            <a class="btn btn-large btn-primary" href="#/about">Learn more</a>

        </div>

    </div>

</div>