<div class="navbar navbar-fixed-bottom">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav">

                <li><a href="#/">&copy; {{constants.company_name}} {{constants.copyright_year}}</a></li>
                <li class="divider-vertical"></li>

                <li><a href="#/about">About</a></li>
                <li><a href="#/contact">Contact</a></li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Example<b
                            class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class=""><a href="#/">of</a></li>
                        <li class=""><a href="#/">a</a></li>
                        <li class=""><a href="#/">multi</a></li>
                        <li class=""><a href="#/">select</a></li>
                        <li class=""><a href="#/">dropdown</a></li>
                    </ul>

            </ul>
        </div>

    </div>

</div>
