<div>
    Example: Angular-UI Bootstrap carousel...<br><br>
    <carousel current-index="selected" interval="2">
        <slide ng-repeat="s in slides" active="s.active">
            <img ng-src="{{s.image}}" style="margin:auto;">
            <div class="carousel-caption">
                <h4>Slide {{$index}}</h4>
                <p>{{s.text}}</p>
            </div>
        </slide>
    </carousel>
    Select slide:
    <a ng-repeat="i in slides" ng-click="selectSlide($index)">
        {{$index}}
    </a>
</div>