<!--see http://angular-ui.github.com/ng-grid/#/api for more  -->

<!-- Filtering via the header button appears to be broken.  Hide button for now... -->
<style>
    .ngHeaderButton {
        display: none;
    }
</style>

Example: Basic Angular Grid (ng-grid) with pagination, sorting, and filtering, using jquery theme...<br><br>
<!-- Everything about the grid is expected to be within the scope (done in controller) -->
<input ng-model="filterOptions.filterText" placeholder="[[enter filter text here]]" type="text">
<div class="gridStyle" ng-grid="gridOptions"></div>
